/* .rootcomponent{
    background-color: #753c88;
    padding: 10px;
    color: black;
}

.grandparent{
    background-color: #e81c4e;
    padding: 20px;
    color: black;
}

.parent{
    background-color: #febf32;
    padding: 20px;
}

.child1{
    background-color: #85b83c;
    padding: 20px;
}

.child2{
    background-color: #00a1d1;
    padding: 20px;
} */


/* .MainDiv{
    justify-content: center;

}

.btngroup{
    align-items: center;
} */


